job('maven_dsl') {

    description('Maven dsl project')

    scm {
    // With the help of this we can give the Git have repository and branch name//
        git('https://github.com/jenkins-docs/simple-java-maven-app', 'master', {node -> node / 'extensions' << '' })
    }

    steps {
        maven {
        //in this scetion we need to provide the maven name , go to the manage jenkins and MVN section check what name you provide.//
            mavenInstallation('maven')   // same name you should provide here while do the mavan setup in manage jenkins section.//4
            //goals nothing but if you what kind of action perfrom 
            goals('clean package')
        }
        maven {
            mavenInstallation('maven')
           // Here do the tesing section .
           
           goals('test')
        }
        
        
        }
        Note:- If you want to deploye on the server at that do one more steps://
        maven {
            mavenInstallation('maven')
           // Here do the deploying section .
           
           goals('deploy')
        shell('''
            echo ************RUNNING THE JAR************************
            java -jar /var/lib/jenkins/workspace/maven_dsl/target/my-app-1.0-SNAPSHOT.jar
        ''')
    }

    publishers {
        archiveArtifacts('target/*.jar')
        archiveJunit('target/surefire-reports/*.xml')
        mailer('valaxytech@gmail.com', true, true)
    }
}

